.container {
  background-color: #FFF5EE;
  width: 370px;
  height: 120px;
  border-radius: 20px;
  padding: 20px;
}

.quote {
  display: flex;
  flex-direction: row;
  color: #800000;
  font-size: 20px;
}

.heart {
  cursor: pointer;
}

.heart-fill {
  cursor: pointer;
  color: rgba(211, 6, 91, 0.918);
}

.spinner-quote {
  display: inline-block;
  width: 34px;
  height: 34px;
  border: 2px solid #b65050;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin: auto;
  margin-left: 150px;
  margin-top: 18px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}