.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

select {
  height: 35px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

button {
  height: 35px;
  width: 120px;
  background-color: #A0522D;
  color: black;
  font-size: 19px;
  border: none;
  border-radius: 10px;
}